/target/
/hibernate5-ddl-maven-plugin-hibernate52/target/
/hibernate5-ddl-maven-plugin-core/target/
/hibernate5-ddl-maven-plugin-hibernate51/target/
/hibernate5-ddl-maven-plugin-hibernate50/target/
/hibernate50-ddl-maven-plugin/target/
/hibernate51-ddl-maven-plugin/target/
/hibernate52-ddl-maven-plugin/target/
/hibernate53-ddl-maven-plugin/target/
/hibernate54-ddl-maven-plugin/target/
*.releaseBackupi

*.log
/hibernate5-ddl-maven-plugin-core/nbproject/
*.iml
.idea/
